@font-face {
    font-family: SegoeUI;
    src: local('Segoe UI'), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("ttf");
    font-weight: 400
}

@font-face {
    font-family: SegoeUI;
    src: local('Segoe UI'), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff2) format("woff2"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff) format("woff"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.ttf) format("ttf");
    font-weight: 100
}

@font-face {
    font-family: SegoeUI;
    src: local('Segoe UI'), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff2) format("woff2"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff) format("woff"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.ttf) format("ttf");
    font-weight: 200
}

@font-face {
    font-family: SegoeUI;
    src: local('Segoe UI'), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2) format("woff2"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff) format("woff"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.ttf) format("ttf");
    font-weight: 600
}

@font-face {
    font-family: SegoeUI;
    src: local('Segoe UI'), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2) format("woff2"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff) format("woff"), url(http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.ttf) format("ttf");
    font-weight: 700
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-size: 15px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 320px;
    color: #000;
    background-color: #FFF;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

a {
    color: #0067B8;
}

a:active,
a:hover {
    color: #005da6;
    text-decoration: underline;
}

b,
strong {
    font-weight: 700;
}

.main-root {
    max-width: calc(1600px + 10%);
    margin: 0 auto 20px;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: 62px;
    line-height: 72px;
    padding: 38px 0 6px;
    font-weight: 100;
    letter-spacing: -.01em;
}

h2 {
    font-size: 46px;
    line-height: 56px;
    padding: 37px 0 3px;
    font-weight: 100;
    letter-spacing: -.01em;
}

.c-list {
    font-size: 15px;
    line-height: 20px;
    padding-left: 19px;
    padding-right: 0;
    margin: 8px 0;
    list-style-position: outside;
    list-style-type: disc;
}

.c-list li {
    padding: 8px 0;
}

.c-paragraph-1 {
    font-size: 20px;
    line-height: 24px;
    padding: 24px 0 4px;
    font-weight: 200;
}

.main-root p,
.c-paragraph-2 {
    padding: 25px 0 3px;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
}

.c-image {
    height: 23px;
}

header {
    font-size: 13px !important;
    height: 54px;
    line-height: 68px;
    z-index: 502;
    padding-left: 24px;
    padding-right: 24px;
    background: #fff;
}

[data-grid~="container"], [data-grid*="col-"] {
    box-sizing: border-box;
    zoom: 1;
}
[data-grid~="container"] {
    max-width: calc(1600px + 10%);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.ow-bg-f5f5f5 {
    background-color: #f5f5f5;
}

.ow-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ow-flexbox .ow-flex-item {
    align-items: center;
    flex: 1;
    min-width: 0;
    width: 50%;
}

.ow-flexbox .ow-flex-item.ow-flex-align-bottom {
    align-self: flex-end;
}

.ow-flexbox .ow-flex-item.ow-immersive>img {
    padding-top: 60px;
    width: 100%;
}

.ow-hero-content {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: calc(100%/6);
    padding-right: 13.75%;
}

.c-heading-2 {
    padding: 0;
    margin-bottom: 3px;
    color: #5558af;
    font-weight: 600;
    padding: 37px 0 3px;
    font-weight: 600;
    letter-spacing: -.01em;
    font-size: 46px;
    line-height: 56px;
}

.c-subheading-4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

#ow-txt-ctn .ow-center {
    text-align: center;
    padding: 0 10px 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 0 0 -45px;
}

#subheadregion {
    padding: 45px 5%;
}

.ow-align-not-center {
    flex-direction: row;
    display: flex;
    margin-top: 0;
    min-height: unset;
}

.ow-feature .ow-flex-item {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    transform: none;
}

.ow-feature div.ow-padding-right-1-col {
    padding-right: 16.667%;
    width: 100%;
    padding-top: 75px;
    box-sizing: border-box;
}

.ow-tile-height-750 .ow-picture-btm img {
    max-height: 675px;
}

.ow-align-not-center .ow-picture-container picture img {
    max-width: 113.3%;
}

.ow-feature .ow-content .ow-heading {
    padding: 0;
    margin: 0;
}

.x-weight-semibold {
    font-weight: 600;
}

.c-heading-3 {
    padding: 38px 0 2px;
    font-weight: 600;
}

.c-heading-3,
.c-subheading-1 {
    font-size: 34px;
    line-height: 40px;
}

.ow-feature .ow-paragraph {
    padding-top: 10px;
}

.c-feature>div .c-paragraph,
.m-feature>div .c-paragraph {
    padding-top: 12px;
}

.c-feature>div .c-paragraph,
.m-feature>div .c-paragraph {
    font-size: 15px;
    line-height: 20px;
    padding: 12px 0 0;
    font-weight: 400;
}


@media screen and (max-width: 780px) {
    .ow-flexbox {
        flex-direction: column;
    }

    .ow-flexbox .ow-flex-item {
        width: auto;
    }

    .ow-hero-content {
        padding: 0;
        text-align: center;
    }

    .c-heading-2 {
        font-size: 34px;
        line-height: 40px;
    }

    .ow-flexbox .ow-flex-item.ow-immersive>img {
        padding-top: 20px;
    }

    .ow-align-not-center {
        flex-direction: column;
    }

    .ow-feature .ow-flex-item {
        width: auto;
    }
  }